<style>
@import url('https://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack.css');

body {
  font-family: 'Hack', monospace;
}
body {
background-color: #355ACE;
}
h1 {
color: white;
}
button {
border: solid;
border-radius: 10px;
border-width: 5px;
border-color: black;
background-color: blue;
